body {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/bg.png");
}

.App {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

form,
.response {
  background: rgba(0, 0, 0, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.response {
  position: relative;
  overflow: hidden;
}
.loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  left: 0;
  background: linear-gradient(270deg, #fdff8c, #78b2ff, #ff7878, #9c59fd);
  background-size: 300% 300%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: lightsalmon;
  outline: 1px solid slategrey;
}
